<!--Admin Title-->
<h1 class="page-header">Admin</h1>
<!--Wrap it all in a form class-->
<form class="form-horizontal">
    <h3>Users</h3>
    <!--Table of users-->
    <table class="table table-bordered table-striped table-hover">
        <!--Head-->
        <thead>
        <tr>
            <th>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
                Username
            </th>
            <th>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
                Password
            </th>
            <th>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
                Account Type
            </th>
            <th>
                Action
            </th>
        </tr>
        <tr>
            <th>
                <input ng-model="inputUser.username" type="text" class="form-control" placeholder="username" required>
            </th>
            <th>
                <input ng-model="inputUser.password" type="password" class="form-control" placeholder="password" required>
            </th>
            <th>
                <input ng-model="inputUser.accountType" type="text" class="form-control" placeholder="account type" required>
            </th>
            <th class="text-right">
                <button ng-click="addUser(inputUser)" class="btn btn-default glyphicon glyphicon-plus"></button>
                <button ng-click="updateUser(inputUser)" class="btn btn-default glyphicon glyphicon-ok"></button>
            </th>
        </tr>
        </thead>
        <!--Body-->
        <tbody>
        <tr ng-repeat="user in users">
            <td>
                {{user.username}}
            </td>
            <td>
            </td>
            <td>
                {{user.accountType}}
            </td>
            <td class="text-right">
                <button ng-click="removeUser($index)" class="btn btn-default glyphicon glyphicon-remove"
                        ng-show="user.accountType.indexOf('admin') == -1"></button>
                <button ng-click="selectUser($index)" class="btn btn-default glyphicon glyphicon-pencil"
                        ng-show="user.accountType.indexOf('admin') == -1"></button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
