<!--Forms Title-->
<h1 class="page-header">Forms</h1>

<!--Wrap it all in a form class-->
<form class="form-horizontal">

    <!--Forms and Fields tabs-->
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="forms.view.html">Forms</a></li>
        <li role="presentation"><a href="forms-fields.view.html">Fields</a></li>
    </ul>

    <!--Table of data-->
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    Form Name
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" class="form-control" placeholder="name">
                </th>
                <th class="text-right">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="glyphicon glyphicon-ok"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Registration Form
                </td>
                <td class="text-right">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="glyphicon glyphicon-pencil"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Contact List
                </td>
                <td class="text-right">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="glyphicon glyphicon-pencil"></span>
                </td>
            </tr>
            <tr>
                <td>
                    To Do List
                </td>
                <td class="text-right">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="glyphicon glyphicon-pencil"></span>
                </td>
            </tr>
        </tbody>
    </table>

</form>