<!-- Edit Dialog Box -->
<div class="ngdialog-message">

        <h4 class="page-header text-center">Edit Field:</h4>

        <div class="form-group text-align-left">
            <!-- Label -->
            <div class="form-group">
                <label for="label" class="col-sm-3 control-label">Label:</label>
                <div class="col-sm-9">
                    <input ng-model="updatedField.label" type="text" id="label" class="form-control" placeholder="New label name">
                </div>
            </div>

            <!-- Placeholder -->
            <div ng-if="field.type == 'TEXT' || field.type == 'TEXTAREA'" class="form-group">
                <label for="placeholder" class="col-sm-3 control-label">Placeholder:</label>
                <div class="col-sm-9">
                    <input ng-model="updatedField.placeholder" type="text" id="placeholder" class="form-control" placeholder="New placeholder">
                </div>
            </div>

            <!-- Options -->
            <div ng-if="field.type == 'RADIO' || field.type == 'CHECKBOX' || field.type == 'SELECT'" class="form-group">
                <label for="options" class="col-sm-3 control-label">Options:</label>
                <div class="col-sm-9">
                    <textarea ng-model="updatedField.options" id="options" class="form-control" rows="3" placeholder="LABEL:VALUE"></textarea>
                    <span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span></span>
                </div>
            </div>
        </div>

        <div class="text-center">
            <!-- Save or Cancel -->
            <button ng-click="saveField(field._id, updatedField); closeThisDialog()" class="btn btn-success" title="Edit">Ok</button>
            <button ng-click="closeThisDialog()" class="btn btn-danger" title="Edit">Cancel</button>
        </div>
</div>