<!--Side nav bar-->
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar" ng-controller="SidebarController">
        <li ng-class="{'active' : $location.url().indexOf('home') != -1}">
            <a href="#/">Home</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('profile') != -1}"
            ng-show="user">
            <a href="#/profile">Profile</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('people') != -1}"
            ng-show="user">
            <a href="#/people">People</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('savedResults') != -1}"
            ng-show="user">
            <a href="#/savedResults">Saved Results</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('admin') != -1}"
            ng-show="user && user.accountType.indexOf('admin') >= 0">
            <a href="#/admin">Admin</a>
        </li>
    </ul>
</div>