<!--Admin Title-->
<h1 class="page-header">Admin</h1>

<!--Wrap it all in a form class-->
<form class="form-horizontal">
    <h2>Users</h2>

    <!--Table data-->
    <table class="table table-bordered table-striped table-hover">

        <!--Head-->
        <thead>
            <tr>
                <th>
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    Username
                </th>
                <th>
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    Password
                </th>
                <th>
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    First Name
                </th>
                <th>
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    Last Name
                </th>
                <th>
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    Roles
                </th>
                <th>
                    Actions
                </th>
            </tr>
            <tr>
                <th>
                    <input ng-model="selectedUser.username" type="text" class="form-control" placeholder="username">
                </th>
                <th>
                    <input ng-model="selectedUser.password" type="password" class="form-control" placeholder="password">
                </th>
                <th>
                    <input ng-model="selectedUser.firstName" type="text" class="form-control" placeholder="first name">
                </th>
                <th>
                    <input ng-model="selectedUser.lastName" type="text" class="form-control" placeholder="last name">
                </th>
                <th>
                    <input ng-model="selectedUser.roles" type="text" class="form-control" placeholder="role1, role2">
                </th>
                <th>
                    <div class="btn-group-xs">
                        <button ng-click="adminAddUser(selectedUser)" class="btn btn-default glyphicon glyphicon-plus"></button>
                        <button ng-click="adminUpdateUser(selectedUser)" class="btn btn-default glyphicon glyphicon-ok"></button>
                    </div>
                </th>
            </tr>
        </thead>

        <!--Body-->
        <tbody>
            <tr ng-repeat="selectedUser in users">
                <td>
                    {{selectedUser.username}}
                </td>
                <td>
                </td>
                <td>
                    {{selectedUser.firstName}}
                </td>
                <td>
                    {{selectedUser.lastName}}
                </td>
                <td>
                    {{selectedUser.roles}}
                </td>
                <td>
                    <div class="btn-group-xs">
                        <button ng-click="adminDeleteUser($index)" class="btn btn-default glyphicon glyphicon-remove"></button>
                        <button ng-click="adminEditUser($index)" class="btn btn-default glyphicon glyphicon-cog"></button>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</form>
