<!--Register Title-->
<h1 class="page-header">Register</h1>

<!--Form-->
<form name="regForm" class="form-horizontal" role="form">

    <div class="form-group">
        <label for="usernameL" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input ng-model="user.username" type="text" class="form-control" id="usernameL" placeholder="Username" required>
        </div>
    </div>
    <div class="form-group">
        <label for="passwordL" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input ng-model="user.password" type="password" class="form-control" id="passwordL" placeholder="Password" required>
        </div>
    </div>
    <div class="form-group">
        <label for="verifyPassL" class="col-sm-2 control-label">Verify Password</label>
        <div class="col-sm-10">
            <input ng-model="user.vPassword" type="password" class="form-control" id="verifyPassL" placeholder="Verify Password" required>
        </div>
    </div>
    <div class="form-group">
        <label for="emailL" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input ng-model="user.emails" type="email" class="form-control" id="emailL" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="register(user)" class="btn btn-default">Register</button>
        </div>
    </div>

</form>